body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 90vh;
    width: 98vw;
}

#nav{
    background-color: lightblue;
    width: 100%;
    display: flex;
    padding: 1em;

    #search-bar{
        padding: 10px 10px;
        width: 22em;
        margin-left: 10em;
        margin-top: 1em;
        border: 2px solid black;
        border-radius: 5px;
    }
    #links{
        // background-color: red;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-basis: 98%;
    
        li{
            display: inline;
            text-decoration: none;
            margin-left: 1em;
            font-size: 20px;
            border: 2px solid black;
            padding: 5px 5px;
            border-radius: 21px;

            :hover{
                color: white;
            }
        }

        a{
            text-decoration: none;
            color: black;
        }
    }
}


.container{
    border: 4px solid black;
    width: 90%;
    height: 55em;
    margin: auto;
    margin-top: 10em;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(1,auto);
    grid-gap: 30px;

    .item{
        border: 4px solid black;
        height: 95%;
        width: 80%;
        background-color: skyblue;

        .img-container{
            background-color: red;
            display: flex;
            width: 100%;
            height: 320px;
            justify-content: center;
        }
        .product-img{
            width: 100%;
            height: auto;
        }

        .actions{
            width: 50%;
            height: 16%;
            float: right;
            position: relative;
            bottom: 2.2em;
            display: flex;
            justify-content: flex-end;
            gap: 1em;
            .material-symbols-outlined{
                font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
            }

            div{
                cursor: pointer;
                height: 40%;
                span:hover{
                    background-color: rgb(110, 93, 93);
                }

            }
        }

    }
}
