body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.shopping-container{
    height: 100%;
    width: 20%;
    float: right;
    border: 2px solid black;
    overflow:scroll;


.shopping-total{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    button{
        width: 40%;
        padding: 7px 5px;
        border-radius: 20px;
        background-color: #FBA525;
        border: none;
        overflow: hidden;
    }
}

.item-contianer{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-gap: 1.5em;

    .cart-item{
        #item-price{
            text-align: center;
            
        }
    
    .cart-img-container{
        width: 100%;
        height: 100%;
        margin-top: 1em;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;

    }
    .cart-product-img{
        width: 100%;
        height: 15em;
    }
}
}
}