body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 90vh;
  width: 98vw;
}

#nav {
  background-color: white;
  border-bottom: 1px solid black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
}

#nav #search-bar {
  padding: 10px 10px;
  width: 22em;
  margin-left: 10em;
  margin-top: 1em;
  border: 2px solid black;
  border-radius: 5px;
}

#nav #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 98%;
      flex-basis: 98%;
}

#nav #links li {
  display: inline;
  text-decoration: none;
  margin-left: 1em;
  font-size: 20px;
  border: 2px solid black;
  padding: 5px 5px;
  border-radius: 21px;
}

#nav #links li :hover {
  color: white;
}

#nav #links a {
  text-decoration: none;
  color: black;
}

.container {
  width: 90%;
  height: 55em;
  margin: auto;
  margin-top: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: (auto)[1];
      grid-template-rows: repeat(1, auto);
  grid-gap: 30px;
}

.container .item {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 2px 2px 2px lightblue;
          box-shadow: 2px 2px 2px lightblue;
}

.container .item #name-price {
  position: relative;
}

.container .item .img-container {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 320px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 2px 2px lightblue;
          box-shadow: 2px 2px 2px lightblue;
  border-radius: 15px;
}

.container .item .product-img {
  width: 450px;
  height: auto;
  border-radius: 10px;
}

.container .item .actions {
  width: 50%;
  height: 16%;
  float: right;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1em;
}

.container .item .actions .material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.container .item .actions div {
  cursor: pointer;
  height: 40%;
}

.container .item .actions div span:hover {
  background-color: #6e5d5d;
}

.shopping-container {
  height: 100%;
  width: 20%;
  float: right;
  border: 2px solid black;
  overflow: scroll;
}

.shopping-container .shopping-total {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  height: 50%;
}

.shopping-container .shopping-total button {
  width: 40%;
  padding: 20px 5px;
  border-radius: 20px;
  background-color: #FBA525;
  border: none;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.shopping-container .item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100%)[1];
      grid-template-columns: repeat(1, 100%);
  grid-gap: 1.5em;
  position: relative;
  height: 80%;
}

.shopping-container .item-container .cart-item {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.shopping-container .item-container .cart-item #item-actions #item-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shopping-container .item-container .cart-item #item-actions li {
  list-style: none;
}

.shopping-container .item-container .cart-item #item-actions .bin {
  cursor: pointer;
}

.shopping-container .item-container .cart-item #item-actions .bin-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.shopping-container .item-container .cart-item #item-actions .bin-select select {
  padding: 2px 4px;
  border-radius: 5px;
  cursor: pointer;
}

.shopping-container .item-container .cart-item #item-actions .bin-select #bin {
  font-size: 30px;
  cursor: pointer;
}

.shopping-container .item-container .cart-item .cart-img-container {
  width: 100%;
}

.shopping-container .item-container .cart-item .cart-product-img {
  width: 100%;
  height: 20em;
  border-radius: 10px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
/*# sourceMappingURL=style.css.map */